# Build directories
build/

# CMake user files
CMakeUserPresets.json
CMakePresets.json
CMakeLists.txt.user

# Qt Creator / Qt Design Studio user files
*.pro.user*
*.qmlproject.user*
*.qmlproject.qtds
*.qtds
# Often user-specific layouts etc. for Qt Design Studio
*.autosave

# IDE-specific folders
.idea/
.vscode/
*.sublime-*
.qtc_clangd/

# Operating system files
.DS_Store
Thumbs.db

# Compiled libraries and executables (if not placed in the build folder)
*.so
*.dll
*.exe
*.o
*.a

# Log files
*.log
*.qtds
*qtds*
*.user
