name: C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libvulkan-dev libwayland-dev

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.8.3'

    - name: Configure CMake
      run: cmake -B build -S .

    - name: Build
      run: cmake --build build
